/* General Style 
-----------------------------------------------*/
body {
    background-color :#C2F7BB;
}

/* Header 
-----------------------------------------------*/
header {
    text-align: center;
    background-color: #da8b8b;
}

h1 {
    color:#8B1D1D;
}

.index-h1 {
    font-family: 'Montserrat', sans-serif;
}

.non-index-h1 {
    font-family: 'Tilt Warp', cursive;
}
.site-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.site-list a {
    padding: 15px;
    display: inline-block;
}

/* Main 
-----------------------------------------------*/
.article {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Footer
-----------------------------------------------*/
footer {
    text-align: center;
    background-color: #da8b8b;
}