/* General Style 
-----------------------------------------------*/
body {
    background-color :#DBF8D8;
    color: #530792;
}

header, footer {
    text-align: center;
    background-color: #94E0C9;
}

/* Header 
-----------------------------------------------*/
.index-h1 {
    font-family: 'Montserrat', sans-serif;
}

.non-index-h1 {
    font-family: 'Tilt Warp', cursive;
}
.site-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.site-list a {
    padding: 15px;
    display: inline-block;
}

a:visited {
    color: #0C3C06;
}

/* Main 
-----------------------------------------------*/
.article {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* Footer
-----------------------------------------------*/