/* General Style 
-----------------------------------------------*/
body {
    background-color :#DBF8D8;
    color: #530792;
}

header, footer {
    text-align: center;
    background-color: #94E0C9;
}

ul {
    list-style-type: none;
}

a:visited {
    color: #0C3C06;
}

/* Header 
-----------------------------------------------*/
.index-h1 {
    font-family: 'Montserrat', sans-serif;
}

.non-index-h1 {
    font-family: 'Tilt Warp', cursive;
}

.site-list a {
    margin: 10px;
    padding: 3px;
    display: inline-block;
}

@media screen and (min-width: 600px) {
    .site-list {
        padding: 0;
        display: flex;
        justify-content: center;
    }
}


/* Main 
-----------------------------------------------*/
.article {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    justify-content: center;
}

.article p {
    font-size: 1.3vw;
    line-height: 1.4;
}
.owl-pic {
    border-radius: 100%;
}

.school-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 250px repeat(3, 80px);
    grid-template-rows: repeat(2, 80px);
    place-items: center;
}

.school-item1 {
    grid-row-start: 1;
}

.school-item2 {
    grid-row-start: 2;
    display: block;
    padding: 5px;
}

.first-column {
    width: 100%;
}

.course-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3,80px); */
    grid-template-columns: 1fr;
    grid-template-rows: auto-fit;
    gap: 15px;
    margin-right: 20px;
}



.course-item {
    border: solid purple 2px;   
    margin: 0;
    padding: 5px;
    border-radius: 10px;
}

.course-container p, .course-container dl{
    font-size: smaller;
    padding-left: 4em;
    margin-top: 0.2em;
    margin-bottom: 1.2em;
}

.course-container details {
    padding-left: 2em;
}

.difficulty.level {
    margin-bottom: 5px;
}


@media screen and (min-width: 600px) {
    .course-container {
        font-size: larger;
    }
    .course-item {
        display: grid;
        grid-template-columns: 20% 30% 50%;
    }
    .course-item > a, .course-item > details {
        padding: 5px;
    }

    .difficulty.level {
        order: 1;
        padding: 0;
        margin: 0;
        padding-top: 20px;
    }
}




/* Footer
-----------------------------------------------*/
footer {
    font-size: x-small;
}



